*.o
*.lo
*.la
*.so
.*.swp
src/emvtool
src/simtool
doc
docs
Makefile.in
Makefile
config.*
configure
.deps
.libs
autom4te.cache/
compile
depcomp
libtool
ltmain.sh
missing
mkinstalldirs
aclocal.m4
uninstall-data
include/stamp-h
include/stamp-h.in
include/stamp-h1
install-sh
src/ccid-sh
src/cselect
src/gemv
src/hal-ccid
